/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Diseño de la página */
body {
  background-color: #d0f0f1;
  color: #6406a7;
  line-height: 1.6;
}

/* Encabezado */
header {
  background-color: #61e5e8;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

/* Contenedor principal */
main {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Secciones */
section {
  margin-bottom: 20px;
}

/* Estilos de los títulos */
h1, h2 {
  color: #2a0334;
}

/* Enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Pie de página */
footer {
  background-color: #2e2d2d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* Diseño Responsive */
@media (max-width: 768px) {
  main {
    width: 95%;
  }

  header {
    font-size: 20px;
  }
}